<html>
<head>
  <meta content='text/html' charset='UTF-8' http-equiv='Content-Type'/>
  <title>Contact book</title>
  <link rel="stylesheet" href="resources/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script  charset="utf-8" src="resources/js/index.js"></script>
</head>
<body>
<div id="left">
  <div class="contact_form" >
    <div id="header">
      <button class="submit" onclick="addGroup();">Добавить</button>
      <input class="input" type="text" id="new_group" name="group_name" placeholder="Семья"  />

    </div>
  </div>
  <div id = 'results'> </div>
</div>
<div id="right">
  <p id="photo" ><img src="resources/images/nophoto.png" width="200" height="200" onclick="document.getElementById('file').click()" border="1" bordercolor="white"></p>
  <div class="contact_form" >
      <input type="hidden" id="selectedId">
    <ul id="fields_ul">
      <li >
        <label for="nickname">Никнейм:</label>
        <input class="input" type="text"  id="nickname" placeholder="Иван" />
      </li>
      <li >
        <label for="firstname">Имя:</label>
        <input class="input" type="text"  id="firstname" placeholder="Иван" />
      </li>
      <li>
        <label for="lastname">Фамилия:</label>
        <input class="input" type="text"  id="lastname" placeholder="Иванов" />
      </li>
      <li>
        <label for="number">Телефон:</label>
        <input class="input" type="text"  id="number" placeholder="89605402211"/>
      </li>

      <li id="last">
        <label for="email">Email:</label>
        <input  class="input" type="text" id="email" placeholder="ivan_ivanov@example.com"  />
      </li>
      <li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="submit" onclick="addField();">Новое поле</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="input" type="text" id="new_field"  />
      </li>
      <li>
          <form id="file_form" action="/ContactBook/uploadImage/" enctype="multipart/form-data">
              <input accept="image/*" type="file" id="file" name="file" style="display:none" onclick="resetFile()" onchange="submitImage()" />
          </form>
          <button class="clear" onclick="removeContact();">Удалить</button>
        <button class="submit" id="save" onclick="submit()">Сохранить</button>
      </li>

    </ul>

  </div>
</div>
<div class="scroll-to-top">
  <!-- <p>Scroll to top</p> *Use this as a text option, instead of the image icon.*-->
</div>
</body>

</html>